* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

:root {
    --nav-footer-bg-color: #2c003e;
}

/* .logo img {
    height: 30px;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--nav-footer-bg-color);
}

.logo {
    color: #007c7b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    /* padding: 0 0 0 5vh; */
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.nav-phone {
    /* padding: 0 5vh 0 0; */
}

.nav-links a,
.nav-phone a {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

.nav-links li,
.nav-phone li {
    list-style: none;
}

.nav-phone a {
    font-size: 25px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .logo {
        /* padding: 0 0 0 2vh; */
    }

    .nav-links {
        width: 50%;
    }

    .nav-phone {
        /* padding: 0 2vh 0 0; */
    }

    .nav-phone a {
        font-size: 22px;
    }
    
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--nav-footer-bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}