@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --header-transition-seconds: 0.4s;
    --black: #000;
    --white: #fff;
    --green: #1b8020;
    --gray-dark: #555555;
    --gray-light: #f3f3f3;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 200vh;
    background: var(--white);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--header-transition-seconds);
    /* padding: 40px 40px; */
    padding: 20px 100px;
    z-index: 999;
}

header.sticky {
    padding: 10px 100px;
    background: var(--black);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: var(--header-transition-seconds);
    z-index: 10000;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--black);
    letter-spacing: 2px;
    font-weight: 500;
    transition: var(--header-transition-seconds);
}

header.sticky ul li a {
    color: var(--white);
}

header.sticky .logo {
    color: var(--white);
}

.section-photo {
    width: 100%;
    max-width: 100%;
    height: 150vh;
    overflow: hidden;
}

.about-us {
    padding: 5vh;
    text-align: center;
}

.about-us h1 {
    font-size: 3em;
    color: var(--gray-dark);
}

.about-us p {
    padding-top: 5vh;
}

.advantages-other {
    background-color: var(--gray-light);
    padding: 5vh;
    min-height: 15vh;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    opacity: 0;
    transform: translateX(-100px);
}

.advantages-other.animate {
    opacity: 1;
    transform: translateX(0);
}

.advantages-other ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    align-content: center;
    justify-content: center;
}

.advantages-other ul li {
    flex-basis: calc(100% / 5);
    list-style-type: none;
    color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantages-other ul li:hover {
    color: var(--green);
}

.advantages-other ul li i {
    font-size: 3em;
    margin: 10px;
}

.advantages-other ul li i:hover {
    cursor: pointer;
}

.rooms {
    min-height: 50vh;
    background-color: var(--white);
    text-align: center;
    padding-top: 3vh;
    color: var(--gray-dark)
}

.rooms-photos {
    padding-top: 3vh;
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rooms-photos img {
    opacity: 0;
    position: relative;
    transition: opacity 1.5s ease-out, transform 1.5s ease;
    height: 55vh;
    width: 45vw;
    object-fit: cover;
    transform: translateX(20%);
}

.room-image:nth-child(2), .room-image:nth-child(4) {
    transform: translateX(-20%);
}

.rooms-photos img.animate-right {
    opacity: 1;
    transform: translateX(0);
}

.rooms-photos img.animate-left {
    opacity: 1;
    transform: translateX(0);
}

footer {
    text-align: center;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-light);
}

footer ul {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: var(--gray-dark);
}

footer ul li i {
    font-size: 1.3em;
    margin: 10px;
}

footer ul li a:hover {
    color: var(--green);
}
