@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --header-transition-seconds: 0.4s;
    --black: #000;
    --white: #fff;
    --green: #1b8020;
    --gray-dark: #555555;
    --gray-light: #f3f3f3;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 200vh;
    background: var(--white);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: var(--header-transition-seconds);
    padding: 2vh 2vw;
    z-index: 10000;
}

header.sticky {
    padding: 2vh 2vw;
    background: var(--black);
}

header .header__logo-tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header__logo {
    position: relative;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: var(--header-transition-seconds);
    z-index: 10000;
    /* margin-right: auto; */
    margin-left: 2vh;
}

header .header__tagline {
    margin-left: 2vh;
}

header .header__phone {
    font-size: 1.5em;
    transition: var(--header-transition-seconds);
    color: var(--black);
    margin-right: auto;
    margin-left: 1vw;
    z-index: 10000;
}

header .header__tagline {
    transition: var(--header-transition-seconds);
    /* font-size: 0.8em; */
}

header .header__phone a {
    color: var(--black);
}

a.header__phone {
    text-decoration: none;
}

header a:hover,
header.sticky a:hover {
    color: var(--green);
}

.header__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 5vh;
}

.header__list li a {
    position: relative;
    margin: 0 2vh;
    text-decoration: none;
    color: var(--black);
    letter-spacing: 2px;
    font-weight: 500;
    transition: var(--header-transition-seconds);
}

header.sticky ul li a,
header.sticky .header__logo,
header.sticky .header__phone,
header.sticky .header__tagline {
    color: var(--white);
}

.main-photo {
    width: 100%;
    max-width: 100%;
    height: 150vh;
    overflow: hidden;
}

.about-us {
    padding: 5vh;
    text-align: center;
}

.about-us h1 {
    font-size: 3em;
    color: var(--gray-dark);
}

.about-us p {
    padding-top: 5vh;
}

.advantages {
    background-color: var(--gray-light);
    padding: 5vh;
    min-height: 15vh;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    opacity: 0;
    transform: translateX(-100px);
}

.advantages.animate {
    opacity: 1;
    transform: translateX(0);
}

.advantages ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4vh 4vw;
    align-content: center;
    justify-content: center;
}

.advantages ul li {
    flex-basis: calc(100% / 5);
    list-style-type: none;
    color: var(--gray-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advantages ul li:hover {
    transition: var(--header-transition-seconds);
    color: var(--green);
}

.advantages ul li i {
    font-size: 3em;
    margin: 1vh;
}

.advantages ul li i:hover {
    cursor: pointer;
}

.rooms {
    min-height: 50vh;
    background-color: var(--white);
    text-align: center;
    color: var(--gray-dark);
}

.rooms h2 {
    padding: 3vh;
}

.rooms__room {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* padding-bottom: 1vh; */
}

.rooms__room.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.rooms__room p {
    margin: 3vh;
}

.rooms__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rooms__photo {
    width: 50%;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease;
}

.rooms__text {
    width: 50%;
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease;
}

.rooms__room img {
    /* opacity: 0; */
    position: relative;
    /* height: 55vh;
    width: 45vw; */
    object-fit: cover;
    transform: translateX(50%);
}

.rooms__room p {
    position: relative;
    transform: translateX(-50%);
}

.rooms__room.row-reverse img{
    transform: translateX(-50%);
}

.rooms__room.row-reverse p{
    transform: translateX(50%);
}


.rooms__room img.animate-right,
.rooms__room img.animate-left,
.rooms__room p.animate-left,
.rooms__room p.animate-right {
    opacity: 1;
    transform: translateX(0);
}

.splide {
    margin: 0 auto;
}

.gallery {
    /* background-color: var(--gray-light); */
    padding-top: 10vh;
}

.gallery__header {
    text-align: center;
    font-size: 2em;
    color: var(--gray-dark);
}

#image-carousel {
    margin-top: 3vh;
}

.splide__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.splide__list {
    /* margin: 0 auto; */
    /* text-align: center; */
}

footer {
    text-align: center;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-light);
}

footer ul {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    list-style: none;
}

footer ul li a {
    color: var(--gray-dark);
}

footer ul li i {
    font-size: 1.3em;
    margin: 1vh;
}

footer ul li a:hover {
    transition: var(--header-transition-seconds);
    color: var(--green);
}


@media screen and (max-width: 1100px) {
    header {
        font-size: 0.9em;
        padding: 1vh 2vw;
    }

    header.sticky {
        padding: 1vh 2vw;
    }

    .header__list {
        margin-right: 0vh;
    }

    .main-photo {
        height: 100vh;
    }
}

@media screen and (max-width: 940px) {

    .header__menu {
        display: none;
    }

    header .header__phone {
        margin: 0;
        margin-right: 5vw;
    }

}

@media screen and (max-width: 769px) {
    
    header {
        font-size: 0.8em;
    }

    .rooms__room, .rooms__room.row-reverse {
        flex-direction: column;
    }

    .rooms__room p {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .rooms__photo,
    .rooms__text {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: 1vh 0.5vw;
    }
    
    header.sticky {
        padding: 1vh 0.5vw;
    }
    
    header .header__logo,
    header .header__tagline {
        margin-left: 0.3vh;
    }

    header .header__phone {
        margin-right: 0.3vh;
    }
}

@media screen and (max-width: 520px) {
    header {
        flex-direction: column;
    }

    header .header__phone {
        margin-top: 1vh;
    }

    .about-us h1 {
        font-size: 2em;
    }

    footer p {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 320px) {
}
